{% extends 'base.html.twig' %}

{% block titre %}
    {% if ilot.nomURL is same as('MiseEnFab') %}
        <h1>Imprimer une étiquette par panneau</h1>
    {% else %}
        <h1>Impression {{ ilot.nomIRL }}</h1>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="printer">
        {% if ilot.nomURL is same as('LaqEtiqOF') or ilot.nomURL is same as('LaqEtiqRAL') %}
            {% include('badgeage/inc/_laquage_view.html.twig') %}
        {% elseif ilot.nomURL is same as('MiseEnFab') %}
            {% include('printer/inc/_miseEnFab_view.html.twig') %}
        {% else %}
            <div id="printer-item" class="printer-item">
                <div class="form">
                    {% include('_form.html.twig') %}
                </div>
                {% include('_flash_messages.html.twig') %}
                <div id="printer-item" class="printer-item">
                    <div class="printer-info">
                        <i class="fa-solid fa-print"></i>
                        <div>
                            <span><strong>{{ ilot.printer.nom }}</strong> @{{ ilot.printer.ip }}</span>
                            <span>Statut : <strong class="{{ isActive }}">{{ imprimante }}</strong></span>
                        </div>
                    </div>
                </div>
                <div class="boutons">
                    <div class="item-1">
                        <a class="refresh bouton" href="{{ path('impression_view', { 'nomURL' : ilot.nomURL }) }}"
                           title="Page options"><span>Rafraîchir</span></a>
                    </div>
                    <div class="item-2">
                        <a class="prev item-btn-1 bouton" id="btn_retour" href="{{ path }}"
                           role="button"
                           title="Page précédente"><span>Précédent</span></a>
                        <a class="home item-btn-2 bouton" href="{{ path('main_home') }}"
                           title="Page d'accueil"><span>Accueil</span></a>
                    </div>
                    <div class="item-3">
                        <a class="photo item-btn-3 bouton" href="#" title="Page photo"><span>Photo</span></a>
                        <a class="options item-btn-4 bouton"
                           href="{{ path('options_menu', { 'nomURL' : ilot.nomURL }) }}"
                           title="Page options"><span>Options</span></a>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}