{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <section class="home">
        {% include('_flash_messages.html.twig') %}
        <ul>
            {% for ilot in ilots %}
                <li>
                    {% if ilot.nomURL is same as('MiseEnFab') %}
                        <a href="{{ path('impression_view', { 'nomURL' : ilot.nomURL }) }}"
                           title="Ilot {{ ilot.nomIRL }}">{{ ilot.nomIRL }}</a>
                    {% else %}
                        <a href="{{ path('badgeage_view', { 'nomURL' : ilot.nomURL }) }}"
                           title="Ilot {{ ilot.nomIRL }}">{{ ilot.nomIRL }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
