{% extends 'base.html.twig' %}

{% block titre %}
    <h1>Historique {{ ilot.nomIRL }}</h1>
{% endblock %}

{% block body %}
    <section class="historique-ilot">
        <table id="datatables" class="display table table-striped table-light text-center" data-order='[[ 1, "desc" ]]'>
            <thead>
            <tr>
                <th>OF</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for badgeage in badgeages %}
                <tr>
                    <td class="numOF">
                        <a href="{{ path('options_historique_commande', { 'nomURL' : badgeage.ilot.nomURL, 'numero' : badgeage.ordreFab.numero }) }}"
                           title="{{ badgeage.ordreFab.numero }}">{{ badgeage.ordreFab.numero }}</a>
                    </td>
                    <td>{{ badgeage.dateBadgeage | date("d/m/Y @ H:i") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="boutons">
            <div class="item-1">
                {# TODO #}
                <a class="prev item-btn-1 bouton" id="btn_retour_idx" onclick="history.back()" target="_self"
                   role="button"
                   title="Page précédente"><span>Précédent</span></a>
                <a class="home item-btn-2 bouton" href="{{ path('main_home') }}"
                   title="Page d'accueil"><span>Accueil</span></a>
            </div>
            <div class="item-3">
                <a class="print item-btn-3 bouton"
                   href="{{ path('impression_etiquette', { 'nomURL' : ilot.nomURL }) }}"
                   title="Page impression"><span>Impression</span></a>
                <a class="options item-btn-4 bouton" href="{{ path('options_menu', { 'nomURL' : ilot.nomURL }) }}"
                   title="Page options"><span>Options</span></a>
            </div>
        </div>
    </section>
{% endblock %}
