{% extends 'base.html.twig' %}

{% block titre %}
    <h1>Options {{ ilot.nomIRL }}</h1>
{% endblock %}

{% block body %}
    <section class="options">
        <ul>
            <li>
                <a href="{{ path('options_historique_ilot', { 'nomURL' : ilot.nomURL }) }}" title="Historique îlot">Historique ilot</a>
            </li>
            <li>
                <a href="{{ path('options_historique_commande', { 'nomURL' : ilot.nomURL }) }}" title="Historique commande">Historique commande</a>
            </li>
            <li>
                <a href="{{ path('badgeage_detail', { 'nomURL' : ilot.nomURL }) }}" title="Suppression badgeage">Suppression badgeage</a>
            </li>
        </ul>
        <div class="boutons">
            <div class="item-1">
                {# TODO #}
                <a class="prev item-btn-1 bouton" id="btn_retour_idx" onclick="history.back()" target="_self" role="button"
                   title="Page précédente"><span>Précédent</span></a>
                <a class="home item-btn-2 bouton" href="{{ path('main_home') }}" title="Page d'accueil"><span>Accueil</span></a>
            </div>
            <div class="item-2">
                <a class="print item-btn-3 bouton" href="{{ path('impression_etiquette', { 'nomURL' : ilot.nomURL }) }}" title="Page impression"><span>Impression</span></a>
                <a class="photo item-btn-4 bouton" href="#" title="Page photo"><span>Photo</span></a>
            </div>
        </div>
    </section>
{% endblock %}
