{% extends 'base.html.twig' %}

{% block titre %}
    <h1>Suppression badgeage {{ ilot.nomIRL }}</h1>
{% endblock %}

{% block body %}
    <section class="delete-badgeage">
        <div class="form">
            {{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' }}) }}
            {{ form_widget(form) }}
        </div>
        <div id="badgeage">
            <table class="table table-striped table-light text-center">
                <tbody>
                <tr>
                    <th>Recid :</th>
                    <td>{{ badgeage.recid }}</td>
                </tr>
                <tr>
                    <th>Commande :</th>
                    <td>{{ badgeage.ordreFab.numero }}</td>
                </tr>
                <tr>
                    <th>Ilot :</th>
                    <td>{{ badgeage.ilot.nomIRL }}</td>
                </tr>
                <tr>
                    <th>Date :</th>
                    <td>{{ badgeage.dateBadgeage | date("d/m/Y") }}</td>
                </tr>
                <tr>
                    <td class="text-center" colspan="2">
                        <button id="btn" type="submit">Supprimer</button>
                    </td>
                </tr>
                </tbody>
            </table>
            {{ form_end(form) }}
        </div>
        {% include('_flash_messages.html.twig') %}
        <div class="boutons">
            <div class="item-1">
                {# TODO #}
                <a class="prev item-btn-1 bouton" id="btn_retour_idx" onclick="history.back()" target="_self"
                   role="button"
                   title="Page précédente"><span>Précédent</span></a>
                <a class="home item-btn-2 bouton" href="{{ path('main_home') }}" title="Page d'accueil"><span>Accueil</span></a>
            </div>
            <div class="item-2">
                <a class="print item-btn-3 bouton" href="{{ path('impression_etiquette', { 'nomURL' : ilot.nomURL }) }}"
                   title="Page impression"><span>Impression</span></a>
                <a class="options item-btn-4 bouton" href="{{ path('options_menu', { 'nomURL' : ilot.nomURL }) }}"
                   title="Page options"><span>Options</span></a>
            </div>
        </div>
    </section>
{% endblock %}