{% extends 'base.html.twig' %}

{% block titre %}
    <h1>Suppression badgeage {{ ilot.nomIRL }}</h1>
{% endblock %}

{% block body %}
    <section class="detail-badgeage">
        <div class="form">
            {% include('_form.html.twig') %}
        </div>
        {% include('_flash_messages.html.twig') %}
        <div class="boutons">
            <div class="item-1">
                {# TODO #}
                <a class="prev item-btn-1 bouton" id="btn_retour" href="{{ path }}"
                   role="button"
                   title="Page précédente"><span>Précédent</span></a>
                <a class="home item-btn-2 bouton" href="{{ path('main_home') }}"
                   title="Page d'accueil"><span>Accueil</span></a>
            </div>
            <div class="item-2">
                <a class="print item-btn-3 bouton" href="{{ path('impression_etiquette', { 'nomURL' : ilot.nomURL }) }}"
                   title="Page impression"><span>Impression</span></a>
                <a class="options item-btn-4 bouton" href="{{ path('options_menu', { 'nomURL' : ilot.nomURL }) }}"
                   title="Page options"><span>Options</span></a>
            </div>
        </div>
    </section>
{% endblock %}