{% extends 'base.html.twig' %}

{% block body %}
    <section class="paint">
        <ul>
            {% for sousIlotLaquage in sousIlotsLaquage %}
                <li>
                    <a href="{{ path('badgeage_view', { 'nomURL' : sousIlotLaquage.nomURL }) }}"
                       title="Ilot {{ sousIlotLaquage.nomIRL }}">{{ sousIlotLaquage.nomIRL }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="boutons">
            <div class="item-1">
                <a class="prev item-btn-1 bouton" iid="btn_retour" href="{{ path }}"
                   role="button"
                   title="Page précédente"><span>Précédent</span></a>
                <a class="home item-btn-2 bouton" href="{{ path('main_home') }}"
                   title="Page d'accueil"><span>Accueil</span></a>
            </div>
        </div>
    </section>
{% endblock %}