{% set route_name = app.request.attributes.get('_route') %}

<nav class="navbar">
    <div>
        <button id="navbar" class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" data-target="#offcanvasNavbar">
            <i class="btn-open fa-solid fa-bars"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                        data-target="#offcanvasNavbar"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <hr>
                        <a class="home nav-link {% if route_name == "main_home" %}active{% endif %}" aria-current="page"
                           href="{{ path('main_home') }}"
                           title="Page d'accueil">Accueil</a>
                        <hr>
                    </li>
                    <li class="nav-item">
                        {% if app.user %}
                            <a class="nav-admin nav-link {% if route_name == "admin_index" %}active{% endif %}"
                               href="{{ path('admin_index') }}"
                               title="Page admin">Admin</a>
                            <hr>
                            <a class="settings nav-link {% if route_name == "admin_settings" %}active{% endif %}"
                               href="{{ path('admin_settings') }}"
                               title="Page paramètres">Paramètres</a>
                            <hr>
                            <a class="logout nav-link" href="{{ path('app_logout') }}"
                               title="Se déconnecter de l'espace admin">Déconnexion</a>
                            <hr>
                        {% else %}
                            <a class="login nav-link {% if route_name == "app_login" %}active{% endif %}"
                               href="{{ path('app_login') }}"
                               title="Se connecter à l'espace admin">Se connecter</a>
                            <hr>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>