<section class="paint">
    <ul>
        {% for sousIlot in sousIlots %}
            <li>
                {% if sousIlot.nomURL is same as('LaqEtiqHome') %}
                    <a href="{{ path('badgeage_laquage', { 'nomURL' : sousIlot.nomURL }) }}"
                       title="Ilot {{ sousIlot.nomIRL }}">{{ sousIlot.nomIRL }}</a>
                {% else %}
                    <a href="{{ path('badgeage_view', { 'nomURL' : sousIlot.nomURL }) }}"
                       title="Ilot {{ sousIlot.nomIRL }}">{{ sousIlot.nomIRL }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="boutons">
        <div class="item-1">
            {# TODO #}
            <a class="prev item-btn-1 bouton" id="btn_retour_idx" onclick="history.back()" target="_self"
               role="button"
               title="Page précédente"><span>Précédent</span></a>
            <a class="home item-btn-2 bouton" href="{{ path('main_home') }}"
               title="Page d'accueil"><span>Accueil</span></a>
        </div>
    </div>
</section>