{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Admin{% endblock %}

{% block titre %}
    <h1>Badgeage Ilots</h1>
{% endblock %}

{% block body %}
    <section class="admin ilots">
        {% include('_flash_messages.html.twig') %}
        <table class="table table-striped table-light text-center">
            <thead>
            <tr>
                <th>Ilot</th>
                <th class="see">Voir</th>
                <th class="edit">Modif.</th>
                <th colspan="delete">Supp.</th>
            </tr>
            </thead>
            <tbody>
            {% for ilot in ilots %}
                <tr>
                    <td>{{ ilot.nomIRL }}</td>
                    <td class="see">
                        <a class="btn btn-info" href="{{ path('ilot_read', { 'nomURL' : ilot.nomURL }) }}"
                           title="Voir îlot {{ ilot.nomIRL }}">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </td>
                    <td class="edit">
                        <a class="btn btn-success" href="{{ path('ilot_edit', { 'nomURL' : ilot.nomURL }) }}" title="Modifier îlot {{ ilot.nomIRL }}">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </td>
                    <td class="delete">
                        <a class="btn-delete btn btn-danger" href="{{ path('ilot_delete', { 'id' : ilot.id }) }}"
                           title="Supprimer îlot {{ ilot.nomIRL }}"
                           onclick="confirm('Êtes-vous sûr de vouloir supprimer l\'îlot {{ ilot.nomIRL }} ?')">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="boutons">
            <div class="item-1">
                <a class="ilot-add item-btn-5 bouton" href="{{ path('ilot_add') }}"
                   title="Ajouter un îlot"><span>Ajouter un ilot</span></a>
            </div>
            <div class="item-2">
                <a class="prev item-btn-1 bouton" id="btn_retour" href="{{ path }}"
                   role="button"
                   title="Page précédente"><span>Précédent</span></a>
                <a class="nav-admin item-btn-2 bouton" href="{{ path('admin_index') }}"
                   title="Page admin"><span>Admin</span></a>
            </div>
        </div>
    </section>
{% endblock %}
