{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Admin{% endblock %}

{% block titre %}
    {% if user.userIdentifier is same as(app.user.userIdentifier) %}
        <h1>Mon profil</h1>
    {% else %}
        <h1>Profil utilisateur #{{ user.id }}</h1>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="admin profile read-profile">
        {% include('_flash_messages.html.twig') %}
        <table class="table table-striped table-light text-center">
            <tbody>
            <tr>
                <th scope="row">Id :</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th scope="row">E-mail :</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th scope="row">Rôle :</th>
                {% for role in user.roles %}
                    <td>{{ role }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        <div class="boutons">
            <div class="item-1">
                <a class="user-edit item-btn-5 bouton" href="{{ path('user_edit', { 'id' : user.id }) }}"
                   title="Modifier utilisateur {{ user.userIdentifier }}"><span>Mettre à jour</span></a>
            </div>
            <div class="item-2">
                <a class="prev item-btn-1 bouton" id="btn_retour" href="{{ path }}"
                   role="button"
                   title="Page précédente"><span>Précédent</span></a>
                <a class="nav-admin item-btn-2 bouton" href="{{ path('admin_index') }}"
                   title="Page admin"><span>Admin</span></a>
            </div>
        </div>
    </section>
{% endblock %}
